.footer {
  padding: 70px 0;
  font-size: 14px;
  color: $light-color;
  line-height: 2;

  @media (max-device-width: $mobile-width) {
    padding: 50px 0;
  }
}

.footer__social {
  margin-bottom: 30px;
}
