.textarea {
  resize: vertical;
  min-height: 157px;
  width: 100%;
  padding: 5px 0 9.5px;
  font-family: $font-base;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: $light-support-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  @media (max-device-width: $mobile-width) {
    font-size: 14px;
  }
}
