.title-1 {
  font-family: $font-accent;
  font-weight: 700;
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $accent-color;

  @media (max-device-width: $tablet-width) {
    font-size: 58px;
  }
}
