.trainers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 35px;

  @media (max-device-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media (max-device-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}
